@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 10px;
    padding: 0px;

}
body{
    /*background-image: url(Background.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.5));*/
    font-family: "Poppins";
    font-weight: 300;
    
}
/*styling for the nav bar*/
.nav_links{
    display: flex;
    justify-content: center;
    padding: 38px;
    margin-top: 5px;
    align-items: center;
}

.nav-link{
    display: flex;
    height: 50px;
    border: 1px solid black;
    transition: border-bottom 0.5s;
    background: grey;
    justify-content: center;
    align-items: center;
    background-image: url(Background.jpeg);
    background-image: linear-gradient(rgb(0,0,0,0.5));
}
.nav-link p{
    height: 100%;
    max-width: 100%;
    border-bottom: black;
    border-top: black;
    border-left: white;
    border-right: white;
    margin: auto;
}
.nav-link p2:hover{
    color:black
}
.nav-link p2{
    height: 50px;
    max-width: 100%;
    border-bottom: black;
    border-top: black;
    border-left: white;
    border-right: white;
    margin: auto;
    background-color:white;
}
.nav-link > p2 > a{
    color:black;
}

.nav-link p1{
    height: 50px;
    max-width: 100%;
    border-bottom: black;
    border-top: black;
    border-left: white;
    border-right: white;
    margin: auto;
    background-color: rgb(247,67,67);
    
}
.nav-link a {
    background-color:transparent;
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    
}
.nav-link > p > a{
    background-color:transparent;
    
}
.nav-link > p:hover{
    background-color:white;
}
.nav-link > p > a:hover{
    color:black;
}
.nav-link > p1 > a{
    background-color: transparent;
    color:black;
}
.nav-link > p1:hover{
    background-color:black;
}
.nav-link > p1 > a:hover{
    color:white;
}
.nav-link img{
    height: 51px;
    width:51px;
    margin: auto;
}
/*styling for the web body-content*/
.body-container{
    display: grid;
    grid-template-columns: 1fr;
}

.contact-page{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
    margin-right: 40px;
}
/*styling for the left fraction of the page body*/
.voice-project{
    justify-content: center;
    margin-left: 70px;
    margin-right: 40px;
}
.contact-title {
    display: flex;
    align-items:top;
    padding: 0px;
    border-top: 5px;
    border-bottom: 80%;
}
.contact-title a img{
    height: 50px;
    width:50px;
    border-left: 0px;
    border-top: 0%;
}
.contact-title h4{
   align-content: left;
   display: flex;
   border-right: 200px;
}

.address{
    margin-bottom: 30px;
}
.contact{
    margin-bottom: 30px;
}
.social-handle{
    margin-left: 0px;
}
.social-handle{
    display:block;
    align-content: left; 
}
.social-handle p{
    display: flex;
    justify-content: left;
}
.social-handle > p > a > img{
    height: 20px;
    width: 20px;
}
.social-handle > p > a{
    color: black;
}
.social-handle p1{
    display: flex;
    justify-content: left;
}
.social-handle > p1 > a > img{
    height: 20px;
    width: 20px;
}
.social-handle > p1 > a{
    color: black;
}
/*styling for the contact form, middle fraction of the web page*/
.contact-form > form > input{
    background: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.contact-form > form > input:hover{
    border-color: black;
    margin: black;

}
.contact-form > form > textarea{
    height: 150px;
    width: 350px;
    background: transparent;
}
.contact-form > form > textarea:hover{
    border-color: black;
    

}
.contact-form > form > button{
    width: 150px;
    height: 50px;
    background-color: rgb(247,67,67);
    border-color: black;
    font: bold;
}

/*styling for the right fraction of the web page*/
.subscribe{
    display: block;
    margin: 0px;
}
.enter-mail > form > input{
    background: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 300px;
    height: 30px;
}
.enter-mail > form > input:hover{
        border-color: black;
        margin: black;
}
.enter-mail > form > button{
    width: 200px;
    height: 60px;
    background-color: rgb(247,67,67);
    border-color: black;
    align-content: left;
    font-size: large;
}
.helper{
    background-color:black;
    color:white;
    height: 150px;
    width: 350px;
}
.helper p{
    text-align: center;
    justify-content: center;
    border-top: 20px;
    border-bottom: 20px;
    padding: 5%;
}
.footer p{
    margin: auto;
    border-top: 1px solid black;
}